@import 'jeet'


.navbar
 nav()


.btn
  button: green
  hover-darken: 25%

.test
  color: red
  +below(700px)
    color: blue

.mainPage
  center()

.third
  column (ratios = 1/3, cycle = 3)
  stack()
p
  bold()
  fs: 40px



